* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    text-align: center;
    opacity: 0.9;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    border-bottom: 1px solid #fff5ee;
    position: fixed;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    z-index: 10;
}

@media screen and (min-width: 320px) and (max-width: 520px) {
    .header {
        height: 5.5em;
        justify-content: center;
    }
}

.header img {
    height: 50px;
    margin: 10px;
}

.header ul {
    margin: 10px;
}

.header .nav-menu>li {
    display: inline-block;
}

.header a:visited {
    color: #fff5ee;
}

.header a:hover {
    color: #2c61e2;
}

/* Hero */
.hero {
    background-image: url("../resources/images/mission.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
    margin: 0 2em;
    position: relative;
    top: 69px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 520px) {
    .hero {
        top: 120px;
        margin: 0;
    }
}

.mission {
    width: 100%;
    padding: 10px;
    line-height: 40px;
}

.mission h2 {
    font-size: 1.5em;
}

/* Tea of the month */
.tea-container {
    margin: 0 2em;
    padding: 10px;
    position: relative;
    top: 90px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 520px) {
    .tea-container {
        top: 120px;
    }
}

.tea-container .tea-container_title>h2 {
    font-size: 1.3em;
}

.tea-container_gallery {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.tea-container_image {
    margin: 10px;
}

.tea-container_image img {
    width: 300px;
    height: 200px;
}

/* Locations Section */
.locations-container {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1jhoud7*_ga*NzQxMjE2NzQxMS4xNjU3MzEzMTcy*_ga_3LRZM6TM9L*MTY3MjM3MDM2NS4yNS4xLjE2NzIzNzAzNjguNTcuMC4w");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 2em;
    height: 500px;
    position: relative;
    top: 111px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.locations-title {
    background-color: transparent;
    font-size: 1.3em;
    margin-bottom: 15px;
}

.locations-cards {
    background-color: transparent;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-shrink: 1;
}

.location {
    background-color: black;
    opacity: 1;
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    gap: 0.5em;
}

.location h3 {
    font-size: 1.1em;
    width: 100%;
    padding: 0.4em;
}

.location P {
    width: 100%;
    padding: 0.4em;
}

@media screen and (min-width: 521px) and (max-width: 1214px) {
    .locations-container {
        height: fit-content;
    }

    .locations-title {
        margin-top: 25px;
    }

    .locations-cards {
        gap: 1em;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 520px) {
    .locations-container {
        top: 122px;
        margin: 0;
        height: auto;
    }
    
    .locations-title {
        margin-top: 25px;
    }
    
    .locations-cards {
        gap: 20px;
        margin-bottom: 20px;
    }
}

/* Bussines Information */
.info-container {
    position: relative;
    top: 132px;
    height: 200px;
    margin: 0 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.info-container h2 {
    font-size: 1.8em;
}

/* Copyright */
#copyright {
    position: relative;
    top: 153px;
    margin: 0 2.8em;
    text-align: left;
    font-size: 15px;
}

@media screen and (min-width: 320px) and (max-width: 520px) {
    #copyright {
        text-align: center;
    }
}